<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/robot-2--v1.png" alt="image">
                </div>
                <div  id="chatbot_support" class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Chatbot Hỗ trợ</h4>
                    <p class="chatbox__description--header">Xin chào! Mình là Mei - Chatbot của bạn 😇😇😇 </p>
                  
                </div>
                <div class="chatbox__expand-icon">
                    <i class="fas fa-expand"></i> <!-- Icon phóng to -->
                    <i class="fas fa-compress" style="display: none;"></i> <!-- Icon thu nhỏ -->
                </div>
            
                
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Nhập nội dung...">
                <button class="chatbox__send--footer send__button">Gửi</button>
            </div>
        </div>
        
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
           
        </div>
    </div>
</div>
    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>